*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}



nav{
    align-items: center;
    height: 40px;
    position: relative;
    background-color: #5ea9ff; 
    display: flex;
}


nav button{
    margin-left: 800px;
}

.modal{
    display: none;
}